<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880" />
    </authentication>
    <authorization>
		<allow users ="*"/>
      <!--<deny users="?" />-->
    </authorization>
  </system.web>
  <!--<location path="AdminApp.aspx">
  <system.web>
    <authorization>
      <allow roles="AdministratorAplicatie" />
      <deny users="?" />
    </authorization>
  <customErrors mode="Off"/>
  </system.web>
  </location>

  <location path="AssociationAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="AdministratorAsociatie" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ResidentDashboard.aspx">
    <system.web>
      <authorization>
        <allow roles="locatar" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="InitUser.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->

  <connectionStrings>
    <!--<add name="AsPropManagerDB" connectionString="Server=LAPTOPNICU;Database=AsPropManagerDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
	  <add name="AsPropManagerDB" connectionString="Server=phoebe.hosterion.net,1501;Database=neanicur_NN; UID=neanicuadmin;PWD=!969Nicu;" providerName="System.Data.SqlClient"/>
	  <!--<add name="AsPropManagerDB" connectionString="Server=.\MSSQLSERVER2017;Database=neanicur_NN; UID=neanicuadmin;PWD=!969Nicu;" providerName="System.Data.SqlClient"/>-->	  
  </connectionStrings>
	
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
